---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  title: string;
  company: string;
  dates: string;
  date: string;
  image: ImageMetadata;
  modalId: string;
  datesVariant?: string;
}

const { title, company, dates, date, image, modalId, datesVariant = 'info' } = Astro.props;
---

<div class="col-md-6 col-lg-4 mb-5 d-flex">
  <div class="w-100 d-flex flex-column">
    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target={`#${modalId}`}>
      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
        <div class="portfolio-item-caption-content text-center text-white">
          <i class="fas fa-plus fa-3x"></i>
        </div>
      </div>
      <Image src={image} alt={`${title} - ${company}`} class="img-fluid" style="border: 3px solid black;" width={600} height={400} />
    </div>
    <div class="text-center mt-2">
      <span class={`badge bg-${datesVariant}`}>{dates}</span>
    </div>
    <p class="text-center mb-0 mt-2" style="font-weight: 600; font-size: 1.1rem;">{company}</p>
    <p class="page-section-subheading text-center mb-0" style="font-size: 0.95rem;">{title}</p>
    <div class="row justify-content-center mt-auto pt-1">
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target={`#${modalId}`}>Click for details</button>
    </div>
  </div>
</div>
